/* 星空の背景のスタイル */
.stars {
  position: relative;
  width: 100%;
  /* 星空の横幅 */
  height: 100vh;
  /* 星空の縦幅 */
  background-image: linear-gradient(0deg, #00dedc, #115d89, #080f1c);
  /* 星空の背景色 */
  overflow: hidden;
  /* 星が枠外にはみ出すのを防ぐ */
}

/* 星のスタイル */
.star {
  position: absolute;
  display: block;
  background-color: #fff;
  /* 星の色 */
  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgba(#fff, 0.2);
  /* 星の影 */
  opacity: 0;
  animation: twinkle 5s infinite;
}

/* 星がキラキラ光るアニメーション */
@keyframes twinkle {
  0% {
    opacity: 0;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

h1 {
  position: relative;
  color: #afb2dc;
  font-size: 50px;
  font-family: 'HG正楷書体-PRO';
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;

  color: #fff;
  font-size: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 10px 0 0;
  text-shadow:
    0 1px #bbb,
    0 2px #aaa,
    0 3px #999,
    0 4px #888,
    0 5px #777,
    0 6px #666,
    0 7px #555,
    0 8px #444,
    0 9px #333,
    0 32px 24px rgba(0, 0, 0, 0.7);
}


.card {
  width: 200px;
  height: 300px;
  border: 3px solid #3498db;
  text-align: center;
  background-color: white;
  margin: 0 auto;
  /* margin-top: 50px; */
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  /* カードに影を追加 */
}

.card img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

button {
  display: block;
  margin: auto;
}

/* .history-cards {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start;
  align-items: flex-start; 
}
.small-card {
  width: 100px; 
  height: 150px;
  margin: 5px; 
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.custom-button {
  background-color: #3498db;
  /* ボタンの背景色 */
  color: #fff;
  /* テキストの色 */
  font-size: 16px;
  /* フォントサイズ */
  padding: 10px 20px;
  /* パディング（上下左右の余白） */
  border: none;
  /* ボーダーをなしに設定 */
  border-radius: 5px;
  /* 角丸 */
  cursor: pointer;
  /* ホバー時にカーソルがポインターになる */
}

.custom-button:hover {
  background-color: #2980b9;
  /* ホバー時の背景色 */
}